.hero {
     background: linear-gradient(145deg, #283c86, #45a247);
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     color: #fff;

     /* background-image: url('src/assets/img/assam.jpg');
     background-repeat: no-repeat;
     background-size: cover; */
 }
 
 
 .hero h1 {
     color: white;
     font-size: 3rem;
     margin-bottom: 10px;
 }
 
 .hero p {
     color: white;
     font-size: 1.5rem;
     margin-bottom: 20px;
 }
 
 .cta-button {
     text-decoration: none;
     color: #fff;
     border-radius: 5px;
     padding: 10px 20px;
     background: linear-gradient(to right, #ff7e5f, #feb47b);
     transition: transform 0.5s ease;
 }
 
 .cta-button:hover {
     transform: translateY(-5px);
 }
 
 section {
     padding: 100px 0;
 }
 
 section h2 {
     text-align: center;
     margin-bottom: 20px;
     font-size: 2.3rem;
 }
 
 section p {
     text-align: center;
     font-size: 1.2rem;
     margin-bottom: 20px;
 }
 
 .destinations-list,
 .packages-list,
 .testimonials-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 
 .destination-item,
 .package-item,
 .testimonial-item {
     flex: 1;
     margin: 10px;
     text-align: justify;
     padding: 20px;
     background: #fff;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
 }
 
 .destination-item p,
 .package-item p,
 .testimonial-item p{
    color: #333;
 }

 .destination-item:hover,
 .package-item:hover,
 .testimonial-item:hover {
     transform: translateY(-10px);
     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
 }
 
 .destination-item img,
 .package-item img {
     max-width: 100%;
     height: auto;
     border-radius: 10px;
     margin-bottom: 20px;
 }
 
 .destination-item h3,
 .package-item h3,
 .testimonial-item h4 {
     margin-bottom: 10px;
     font-size: 1.5rem;
 }
 
 .destination-item p,
 .package-item p,
 .testimonial-item p {
     font-size: 1rem;
     margin-bottom: 20px;
     text-align: justify;
 }
 
 .package-item span {
     display: block;
     margin-bottom: 20px;
     font-size: 1.2rem;
     font-weight: bold;
     color: #ff7e5f;
 }
 
 .section-footer {
     text-align: center;
     margin-top: 40px;
 }
 
 .explore-button {
     text-decoration: none;
     color: #fff;
     background: linear-gradient(to right, #00c6ff, #0072ff);
     border-radius: 5px;
     padding: 10px 20px;
     transition: transform 0.3s ease, background 0.3s ease;
 }
 
 .explore-button:hover {
     transform: translateY(-5px);
     background: linear-gradient(to right, #0072ff, #00c6ff);
 }
 
 /* Contact Form Styles */
 .contact form {
     max-width: 600px;
     margin: 0 auto;
 }
 
 .contact input,
 .contact textarea {
     width: 100%;
     padding: 10px;
     margin-bottom: 20px;
     border: 1px solid #ccc;
     border-radius: 5px;
 }
 
 .contact button {
     width: 100%;
     padding: 10px;
     background: linear-gradient(to right, #00c6ff, #0072ff);
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background 0.3s ease;
 }
 
 .contact button:hover {
     background: linear-gradient(to right, #0072ff, #00c6ff);
 }
 
 /* Footer Styles */
 .footer {
     text-align: center;
     padding: 20px;
     background-color: #333;
     color: #fff;
 }
 
 /* Responsive Styles */
 @media (max-width: 768px) {
     .navbar .nav-links {
         text-align: center;
     }
 
     .navbar .nav-links li {
         display: block;
         margin: 10px 0;
     }
 
     .destinations-list,
     .packages-list,
     .testimonials-list {
         flex-direction: column;
     }
 }